RewriteEngine On
RewriteRule ^notifications/?$ index.php?command=notifications [L,NC]
RewriteRule ^signin/?$ index.php?command=signin [L,NC]
RewriteRule ^signup/?$ index.php?command=signup [L,NC]
RewriteRule ^signout/?$ index.php?command=signout [L,NC]
RewriteRule ^rides/?$ index.php?command=rides [L,NC]
RewriteRule ^rides/json/?$ index.php?command=rides&output=json [L,NC]
RewriteRule ^newride/?$ index.php?command=newride [L,NC]
RewriteRule ^myrides/?$ index.php?command=myrides [L,NC]
RewriteRule ^myrides/delete/([0-9]+)/?$ index.php?command=deleteride&id=$1 [L,NC]
RewriteRule ^myrides/leave/([0-9]+)/?$ index.php?command=leaveride&id=$1 [L,NC]
RewriteRule ^profile/?$ index.php?command=profile [L,NC]
RewriteRule ^rides/([0-9]+)/?$ index.php?command=rideinfo&id=$1 [L,NC]
RewriteRule ^rides/([0-9]+)/request/?$ index.php?command=request&id=$1 [L,NC]
