// Overrides for Bootstrap variables and various additional styles
@import "_variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
    --clr-primary: #{$primary};
    --clr-secondary: #{$secondary};
    --clr-accent: #{$accent};
    --clr-text: #{$text};
    --clr-bg: #{$bg};
}

@function color-var($color-name) {
    @return var(--clr-#{$color-name});
}

@mixin btn-invert($color-name, $bg-color-name) {
    $color: color-var($color-name);
    $bg-color: color-var($bg-color-name);

    color: $color;
    background-color: $bg-color;

    &:disabled {
        color: $color;
        background-color: $bg-color;
    }

    &:hover {
        background-color: $color;
        color: $bg-color;
    }
}

.btn-bold {
    font-size: 1rem;
    font-weight: 700;
}

.btn:disabled {
    border-color: transparent;
}

body {
    color: var(--clr-text);
    background: var(--clr-bg);
}

header {
    background-color: var(--clr-primary);
    border-bottom: 10px solid var(--clr-secondary);

    & i {
        color: white;
    }

    & h1 {
        font-size: 5em;
    }
}

.notification {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 12px;
}

body.splash {
    background-color: var(--clr-bg);

    & main {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    & header {
        padding: 70px 0px;
    }

    & .btn {
        font-weight: 800;
        font-size: 2em;
    }
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
        to right bottom,
        rgba(246, 211, 101, 1),
        rgba(253, 160, 133, 1)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
        to right bottom,
        rgba(246, 211, 101, 1),
        rgba(253, 160, 133, 1)
    );
}

#ride-conversation {
    & .form-control {
        border-color: transparent;
    }

    & .form-control:focus {
        border-color: transparent;
        box-shadow: inset 0px 0px 0px 1px transparent;
    }

    & .card-footer {
        background-color: white;
        border-top: 2px solid #f5f5f5;
    }

    & .timestamp {
        font-size: 0.75em;
    }
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

[data-bs-toggle="tooltip"] {
    color: inherit;
    text-decoration: none;
}
