@use "sass:color";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
    --clr-primary: #3832d3;
    --clr-primary-rgb: 56, 50, 211;
    --clr-secondary: #aa84e4;
    --clr-secondary-rgb: 170, 132, 228;
    --clr-accent: #612e8a;
    --clr-accent-rgb: 97, 46, 138;
    --clr-text: #050517;
    --clr-text-rgb: 5, 5, 23;
    --clr-bg: #f0f0fc;
    --clr-bg-rgb: 240, 240, 252;
}

body {
    color: var(--clr-text);
    background: var(--clr-bg);
}

@mixin btn($color, $bg-color) {
    color: $color;
    background-color: $bg-color;

    &:disabled {
        color: $color;
        background-color: $bg-color;
    }

    &:hover {
        background-color: $color;
        color: $bg-color;
    }
}

@mixin link($color) {
    color: #{$color};

    &:hover {
        color: color.scale(#{$color}, $lightness: -20%);
    }
}

.link-primary {
    @include link(var(--clr-primary));
}

.btn-bold {
    font-size: 1rem;
    font-weight: 700;
}

.btn:disabled {
    border-color: transparent;
}

header {
    background-color: var(--clr-primary);
    border-bottom: 10px solid var(--clr-secondary);

    & i {
        color: white;
    }

    & h1 {
        font-size: 5em;
    }
}

.notification {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 12px;
}

body.splash {
    background-color: var(--clr-bg);

    & main {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    & header {
        padding: 70px 0px;
    }

    & .btn {
        font-weight: 800;
        font-size: 2em;
    }
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
        to right bottom,
        rgba(246, 211, 101, 1),
        rgba(253, 160, 133, 1)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
        to right bottom,
        rgba(246, 211, 101, 1),
        rgba(253, 160, 133, 1)
    );
}

#ride-conversation {
    & .form-control {
        border-color: transparent;
    }

    & .form-control:focus {
        border-color: transparent;
        box-shadow: inset 0px 0px 0px 1px transparent;
    }

    & .card-footer {
        background-color: white;
        border-top: 2px solid #f5f5f5;
    }

    & .timestamp {
        font-size: 0.75em;
    }
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
