@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

$uva-orange: #e57200;
$uva-orange-dark: #eb5f0c;
$uva-blue: #232d4b;
$uva-blue-dark: #141e3c;

.orange {
    color: $uva-orange;
}

.orange-darken-hover:hover {
    color: $uva-orange-dark;
}

.btn-uva-wb {
    color: $uva-blue;
    background-color: white;
}

.btn-uva-wb:hover {
    background-color: $uva-blue;
    color: white;
}

.btn-uva-ow {
    color: white;
    background-color: $uva-orange;
}

.btn-uva-ow:hover {
    background-color: white;
    color: $uva-orange;
}

.btn-uva-bo {
    color: $uva-orange;
    background-color: $uva-blue;
}

.btn-uva-bo:hover {
    background-color: $uva-orange;
    color: $uva-blue;
}

.btn-uva-ob {
    color: $uva-blue;
    background-color: $uva-orange;
}

.btn-uva-ob:hover {
    background-color: $uva-blue;
    color: $uva-orange;
}

header {
    background-color: $uva-blue;
    border-bottom: 10px solid $uva-orange;

    & i {
        color: white;
    }

    & sub {
        font-size: 0.5em;
    }

    & h1 {
        font-size: 5em;
    }
}

footer a {
    color: inherit;

    &:hover {
        color: inherit;
    }
}

.no-decor {
    text-decoration: none;
}

.notification {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 12px;
}

body.splash {
    background-color: $uva-blue-dark;

    & main {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    & header {
        padding: 70px 0px;
    }

    & input:not(:placeholder-shown):invalid {
        background-color: rgb(180, 180, 180);

        + label::after {
            background-color: transparent;
        }
    }

    form:invalid button {
        background-color: rgb(180, 180, 180);

        &:hover {
            background-color: rgb(180, 180, 180);
            color: white;
        }
    }
}

/* Not nested in order to take precedence (greater specificity) over Bootstrap .btn defaults */
body.splash .btn {
    font-weight: 800;
    font-size: 2em;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
        to right bottom,
        rgba(246, 211, 101, 1),
        rgba(253, 160, 133, 1)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
        to right bottom,
        rgba(246, 211, 101, 1),
        rgba(253, 160, 133, 1)
    );
}
