@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-primary: #3832d3;
    --clr-secondary: #aa84e4;
    --clr-accent: #612e8a;
    --clr-text: #050517;
    --clr-bg: #f0f0fc;
}

.notification {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 12px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
        to right bottom,
        rgba(246, 211, 101, 1),
        rgba(253, 160, 133, 1)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
        to right bottom,
        rgba(246, 211, 101, 1),
        rgba(253, 160, 133, 1)
    );
}

#ride-conversation {
    & .form-control {
        border-color: transparent;
    }

    & .form-control:focus {
        border-color: transparent;
        box-shadow: inset 0px 0px 0px 1px transparent;
    }

    & .card-footer {
        background-color: white;
        border-top: 2px solid #f5f5f5;
    }

    & .timestamp {
        font-size: 0.75em;
    }
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
