@import "mapbox-gl/dist/mapbox-gl.css";
@import "radar-sdk-js/dist/radar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-primary: #3832d3;
    --clr-secondary: #aa84e4;
    --clr-accent: #612e8a;
    --clr-text: #050517;
    --clr-bg: #f0f0fc;
}

#ride-conversation {
    & .form-control {
        border-color: transparent;
    }

    & .form-control:focus {
        border-color: transparent;
        box-shadow: inset 0px 0px 0px 1px transparent;
    }

    & .card-footer {
        background-color: white;
        border-top: 2px solid #f5f5f5;
    }

    & .timestamp {
        font-size: 0.75em;
    }
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
