/* To be used by pages without a navbar, e.g., index, sign in, and sign up. */

.orange {
  color: #E57200;
}
.orange-darken-hover:hover {
  color: #EB5F0C;
}
.btn-uva-wb {
  color: #232D4B;
  background-color: white;
}
.btn-uva-wb:hover {
  background-color: #232D4B;
  color: white;
}
.btn-uva-ow {
  color: white;
  background-color: #E57200;
}
.btn-uva-ow:hover {
  background-color: white;
  color: #E57200;
}
.btn-uva-bo {
  color: #E57200;
  background-color: #232D4B;
}
.btn-uva-bo:hover {
  background-color: #E57200;
  color: #232D4B;
}
.btn-uva-ob {
  color: #232D4B;
  background-color: #E57200;
}
.btn-uva-ob:hover {
  background-color: #232D4B;
  color: #E57200;
}
header {
  background-color: #232D4B;
  padding: 70px 0px;
  border-bottom: 10px solid #E57200;
}
header h1 {
  font-size: 5em;
}
header sub {
  font-size: 0.5em;
}
body {
  background-color: #141E3C;
}
main {
  padding-top: 50px;
  margin-bottom: 30px;
}
footer a {
  color: inherit;
}
footer a:hover {
  color: inherit;
}
.disclaimer {
  text-decoration: none;
  color: inherit;
}

/* Source: https://stackoverflow.com/a/48144022/14297794 */
input:not(:placeholder-shown):invalid {
  background-color: grey;
}
form:invalid button {
  background-color: grey;
}
form:invalid button:hover {
  background-color: grey;
  color: white;
}
